<div class="card" *ngIf="events">
    <div class="card-body">
        <h5 class="card-title">{{events.descricao}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Organizador: {{events.organizador.nome +" "+ events.organizador.sobrenome}}</h6>
        <p class="card-text">Inicio: {{dataInicio.getDate()}}/{{dataInicio.getMonth()}}/{{dataInicio.getFullYear()}} as {{dataInicio.getHours()}}:{{dataInicio.getMinutes()}}</p>
        <p class="card-text">Fim: {{dataFim.getDate()}}/{{dataFim.getMonth()}}/{{dataFim.getFullYear()}} as {{dataFim.getHours()}}:{{dataFim.getMinutes()}}</p> 
        <a (click)="verConvidados()" class="card-link">Ver Convidados</a>
        <a (click)='remover()' *ngIf="userId === events.organizador.id" class="card-link">Remover</a>
        <a (click)='desistir()' *ngIf="userId !== events.organizador.id" class="card-link">Desistir</a>
        <a [routerLink]="['/editEvent']" *ngIf="userId === events.organizador.id"  [queryParams]="{id:events.id}" class="card-link">Editar</a>
    </div>
</div>
<div class="card" *ngIf="convite">
    <div class="card-body">
        <h5 class="card-title">{{convite.events.descricao}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Organizador: {{convite.events.organizador.nome +" "+ convite.events.organizador.sobrenome}}</h6>
        <p class="card-text">Inicio: {{dataInicio.getDate()}}/{{dataInicio.getMonth()}}/{{dataInicio.getFullYear()}} as {{dataInicio.getHours()}}:{{dataInicio.getMinutes()}}</p>
        <p class="card-text">Fim: {{dataFim.getDate()}}/{{dataFim.getMonth()}}/{{dataFim.getFullYear()}} as {{dataFim.getHours()}}:{{dataFim.getMinutes()}}</p> 
        <a (click)='aceitar()' class="card-link">Aceitar</a>
        <a (click)='recusar()' class="card-link">Recusar</a>
    </div>
</div>