<div class="form-cadastro">
        <h1>Cadastro</h1>
        <form [formGroup]="formularioDeCadastro" (ngSubmit)="cadastrar()">
            <div class="row">
                <div class="form-group col">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" placeholder="Nome" formControlName="nome">
                </div>
                <div class="form-group col">
                    <label for="nome">Sobrenome</label>
                    <input type="text" class="form-control" placeholder="Sobrenome" formControlName="sobrenome">
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col">
                    <label for="nome">Email</label>
                    <input type="email" class="form-control" placeholder="Email" formControlName="email" required/>    
                </div>
                <div class="form-group col">
                    <label for="nome">Password</label>
                    <input type="password" class="form-control" placeholder="Senha" formControlName="password" required/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary col">Cadastrar</button>
        </form>
    </div>
