.list-itens{
    display: flexbox;
    width: 100%;
    height: 100vh;
}

.itens{
    flex-direction: row;
    display: inline-block;
    width: 300px;
    margin: 10px;
}

@media(max-width: 633px){
    .itens{
        width: 95%;
    }
}
