/* .content{
    height: 100vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-login h1{
    text-align: center;
}

.form-login .form-input{
    width: 100%;
}

.form-login .form-input input{
    width: 100%;
} */
.form-login{
    border: 1px solid black;
    border-radius: 3px;
    width: 400px;
    padding: 20px;
    margin: 60px auto;
}

.form-login h1{
    text-align: center;
}
