/* You can add global styles to this file, and also import other style files */
html, body, .content{
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.content{
    width: 70vw;
}

@media(max-width: 918px){
    .content{
        width: 100vw;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
